doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href='/stylesheets/normalize.css')
    link(rel="stylesheet" href='/stylesheets/skeleton.css')
    script(src='/react/react.js')
    script(src='/react/JSXTransformer.js')

  body
    block content
